amqp
asgiref
async-timeout
attrs
billiard
black
celery
click
click-didyoumean
click-plugins
click-repl
Django
django-debug-toolbar
djangorestframework
djangorestframework-simplejwt
drf-spectacular
inflection
jsonschema
jsonschema-specifications
kombu
mypy-extensions
packaging
pathspec
Pillow
platformdirs
prompt-toolkit
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
redis
referencing
rpds-py
six
sqlparse
tomli
typing_extensions
tzdata
uritemplate
vine
wcwidth
